@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #f1f1f1;
    
}

html {
    scroll-behavior: smooth;
    background-size: 100%;
    width: 100%;
    height: 100%;
  

}


body {
    background: url("./images//testbg.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    font-family: "Poppins";
    height: 10vh;
    border-bottom: solid yellow 1px;
    width: 100%;
    background-color: black;
    background-size: cover;
}

.navbar {
    position: absolute;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;

    height: 100%;
    /* height: 110px; */
    box-sizing: border-box;
   
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    margin-top: -10px;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li:active a {
    color: red;
    font-weight: 600;
}

.navbar .menu-h {
    display: none;
    position: absolute;
    width: 35px;
    right: 50px;
    top: 50px;
}

h2 {
       font-family: "Poppins";

    text-align: center;
    font-size: 5rem;
}

.presentation {
    border-top: #f7b733 1px solid; 
    border-bottom: #f7b733 1px solid; 

}

.image-title {
    margin: 15px auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-title > h3 {
    font-size: 3rem;
}
.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-left: #f7b733 1px solid; 
    width: 50%;
    font-family: "Poppins";

}
.softskills-skills {
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    width: 100%; /* Ajuster la largeur selon vos préférences */
    margin: 0 auto;
    border-top:#f7b733 1px solid;
    border-bottom: #f7b733 1px solid; 


}

.softskills,
.skills {
    width: 50%; /* La largeur de chaque liste */

}
.skills {
    border-left: #f7b733 1px solid; 

}

.softskills > h3,
.skills > h3 {
   
    font-size: 3em;

}

.softskills > ul,
.skills > ul {
    padding: 0; 
    text-align: center;
    font-size: 1.2em;

}
dl {
    width: 100%;


}
dt {
    width: 70%;
    margin: auto;
    text-align: center;
    font-family: "Poppins";
    font-size: 1.2em;
  font-weight: 700;
  background: linear-gradient(45deg, #f7b733, rgb(241, 239, 115));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

dd {
    width: 60%;
    margin: auto;
    text-align: center;

}


.etude-experience {
    display: flex;
    width: 100%; 
    margin: 0 auto;
    height: 100%;
}

.etude, .experience {
    width: 50%; /* La largeur de chaque liste */
    padding-top: 10px;
}

.experience > h3, .etude > h3 {

    font-size: 3em;
}

.experience > ul, .etude > ul {
    padding: 0; /* pour enlever le padding par défaut des listes */
    text-align: center;
    font-size: 1.2em;
}

.experience {
    border-left: #f7b733 1px solid;
}
.about-me {
    /* max-width: 1500px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: #f7b733 1px solid;
    width: 100%;
}
.total-description {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-top: #f7b733 1px solid; 

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto 15px auto;

}
.title > h3 {
    font-size: 4rem;
}


 h3 {
    font-family: "Poppins";
    font-size: 2.5rem;
    text-align: center;

}

.description {
    text-align: center;
    width: 50%;
    /* margin-top: 10px; */
}

.resume {
    width: 500px;
    text-align: center;
    margin: 50px auto;
}



.resume > p {
    
    font-size: 1.2em !important;
}

#resume-p:nth-child(1) {
    margin-top: -15px;
}
#resume-p {
    margin-top: 10px;
}

.js-logo {
    width: 100px;
    margin-right: 10px;

}
.profile-picture {
    width: 250px;
    clip-path: circle(48.9% at 50% 50%);
}
.utils-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Ajout de la propriété box-sizing */
    max-height: 70px;

}

#github-logo {
    background: url("./images/github.png");
   
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease; /* Ajoute une transition pour une animation fluide */


}
#github-logo > a, .linkedin-logo > a, #img-project > a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    
}
#github-logo:hover {
    width: 50px;
    height: 50px;
    transform: scale(1.2); 

}

.linkedin-logo {

    background: url("./images/linkedin.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70px;  
    height: 70px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease; 
    overflow: hidden;


}
.linkedin-logo:hover {
    width: 75px;
    height: 75px;
    transform: scale(1.2); 

}



.history {
    max-width: 900px;
    margin: auto;



}

.history > h3 {
    border-bottom: #f7b733 1px solid;
    width: 80%;
    margin: auto;
}

.history > p {
    text-align: center;
    margin-top: 10px;
}

.content {
    width: 100%;
    max-width: 100%;
    
}

#js {
    font-weight: 700;
    text-decoration: underline;
    color: rgb(247, 211, 51);
}

#dotnet {
    font-weight: 700;
    text-decoration: underline;
    color: rgb(151, 40, 179);
}

.content h1 {
    font-family: Raleway, sans-serif;
    font-size: 60px;
    padding: 0.5em 0;
}

.content p {
    font-family: Raleway, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #f1f1f1;
}

.project {
    margin-top: 10px;
    border-top: #f7b733 1px solid;
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
}

.project > h2 {
    border-bottom: #f7b733 1px solid;
    width: 600px;
    max-width: 1200px;

    margin: auto;

}

#project {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    border-bottom: #f7b733 1px solid;

}

#back-front {
    display: flex;
    width: 500px;
    justify-content: space-around;
    
}
.back-front {
    margin-bottom: 40px !important;
}
#back-front > #github-logo {
    position: relative;
    
}
#back-front > div > p {
    position: absolute;
    width: 200px;
    bottom: -60%;
    left: -150%;
}

.gon-project {
    display: flex;
    align-items: center;
    justify-content: center;

}
.gon-project > p {
    text-align: center;
}
.gon-img {

    background: url("./images/gon.jpg");
}

.dokkaninvoc-img {
    background: url("./images/invocationsimulator.jpg");

}

.appmeteo-img {
    background: url("./images/appmeteo.png");
}
.recette-img {
    background: url("./images/cuisine.jpg");
}
.op-img {
    background: url("./images/op.png");
}
.dokkanthread-img {
    background: url("./images/dokkanthread.png");
}
.deadrock-img {
    background: url("./images//deadrock.png");
}

.pizzasite-img {
    background: url("./images/pizza.png");
}
#img-project {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 500px;

    height: 250px;
    cursor: pointer;
    position: relative;
    transition: ease width 0.5s, height ease 0.5s;
}


#img-project:hover {
    width: 550px;
    height: 270px;
    
    
}
#project-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    
}
#language-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
#language-logo > img {
    margin: 5px;
}


#project-desc > img, #language-logo > img  {
    width: 50px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
#project-desc > div {
    margin: 0 auto;
}
#project-desc > p {
    font-family: "Poppins";

}

.apiop-link {
    background-color: #240e0e;
    padding: 0px 5px;
}
.slide-in {
    max-width: 1200px;
    margin: 50px auto;
    height: 250px;
    background: linear-gradient(to right, rgb(175, 53, 19), #f7b733); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
    border-radius: 2%;
}
.slide-in.active {
    transform: translateX(0%);
    opacity: 1;
}
.slide-in h2 {
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
}

.slide-in label {
    display: block;
    text-align: center;
    color: #f1f1f1;
    font-size: 20px;
    margin: 5px 0 10px;
}
.send-mail {
    margin: 20px auto 10px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.slide-in a {
    width: 125px;
    padding: 15px 12px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background: rgb(81, 81, 211);
    color: #f1f1f1;
    border: none;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#hover {
    display: inline;
    position: relative;
    text-decoration: none;
  }
  
  #hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(182, 172, 35);
    transition: transform 0.3s ease;
  }
  
  #hover:hover::after {
    transform: scaleX(1);
  }

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
        width: 100%;
        max-width: 100%;
        z-index: 1;
    }


    .navbar .logo {
        position: absolute;
        top: 20px;
        left: 50px;
    }
    .nav-links {
        top: 0;
        position: absolute;
        background-color: rgb(136, 112, 112, 0.299);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
      
      
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }


    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }

    .navbar .menu-h {
        display: block;
        top: 20px
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .content {
        max-width: 100%;
        margin: 0 auto
    }

    .total-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        border: none;
    
    }

    .cv {
        width: 100%;
        border: none;
        border-top: 1px solid #f7b733 ;
    }

    .softskills > h3,
    .skills > h3 {
       
        font-size: 2em;
    
    }
    
    .experience > h3, .etude > h3 {
    
        font-size: 2em;
    }

    .image-title {
        margin: 15px auto 15px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



.project > h2 {
    border-bottom: #f7b733 1px solid;
    width: 100%;
    max-width: 1200px;

    margin: auto;

}
    .presentation > h2 {
        font-size: 2rem;
    }
    .resume {
        width: 100%;
    }
    img {
        max-width: 100%;

    }

    .project {
        max-width: 100%;
    }
    .project > h2 {
        text-align: center;
    }

    #project > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .dokkanthread-img {
        width: 100% ;
    }

    h2 {
        font-size: 2rem;
    }

    .description {
        text-align: center;
        width: 100%;
   
        /* margin-top: 10px; */
    }

    #img-project {
        width: 300px;
    }

    #project-desc {
        font-size: 1rem;
        width: 100%;
        max-width: 100%;
    }

    #back-front {
        width: 150px;
    }

    #project-desc > p {
        font-size: 1rem;
        width: 100%;
        max-width: 100%;
    }

    .history > h3 {
        width: 100%;
       
    }
}




